.container {
    width: 100%;

}

header {
    background-color: #313131;
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-between;
}

.header-nav {
    display: flex;
}

.header-nav-link {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Open Sans, sans-serif;
    font-size: 15px;
    line-height: 20px;
    margin: 0 35px;
}

header span {
    font-size: 22px;
    line-height: 30px;
    color: white;
    font-family: Open Sans, sans-serif;
}

header img {
    width: 27px;
    height: 27px;
    margin: 0 27px;
}

.header-search {
    display: flex;
    width: 70px;
    height: 70px;
    background-color: black;
    justify-content: center;
    align-items: center;

}

.header-nav-link:hover {
    color: #14B9D5;
}

.header-content {
    height: 369px;
    background-image: url("../img/header-background.png");
    text-align: center;
}

.header-content-title {
    font-size: 27px;
    line-height: 37px;
    font-family: Open Sans, sans-serif;
    color: white;
    padding: 164px 0 44px;
    display: block;
}

.header-content-button {
    display: flex;
    justify-content: center;
}

.header-content button {
    width: 170px;
    height: 55px;
    display: block;
}

.header-right-button {
    margin-left: 20px;
    background-color: #14B9D5;
    font-size: 18px;
    line-height: 25px;
    font-family: Open Sans, sans-serif;
    color: white;
    border-radius: 10px;
}

.header-left-button {
    background-color: #89CA62;
    font-size: 18px;
    line-height: 25px;
    font-family: Open Sans, sans-serif;
    color: white;
    border-radius: 10px;
}