body {
    font-family: "Roboto", sans-serif;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

/*Верхняя ссылка Ramda*/
.link-ramda {
    font-size: 80px;
    text-decoration: none;
    line-height: 94px;
}
.Ra {
    color: black;
}
.mda {
    color: #4bcaff;
}

/*Верхний навигационный бар*/
nav {
    margin-top: 38px;
    margin-bottom: 50px;
    height: 72px;
    background: #35444f;
}
.header-nav {
    text-align: center;
}
.header-nav-item {
    display: inline-block;
    padding: 23px;
    border-left: 1px solid white;
}
.header-nav-link {
    text-decoration: none;
    color: white;
    font-size: 25px;
}
.header-nav li:hover {
    background: #222F3A;
}

/*Центральная часть*/
main {
    display: flex;
}

/*Левый навигационный бар*/
.main-nav {
    display: block;
    height: 395px;
    padding-left: 40px;
    border: 1px solid black;
}
.main-nav-item {
    padding: 26px 0;
    width: 300px;
}
.main-nav-link {
    text-decoration: none;
    color: #495863;
    font-size: 27px;
    line-height: 27px;
}
aside ul li:hover {
    background-color: #dbdbdb;
    text-align: center;
}

/*Картинка*/

.logo {
    height: 450px;
    width: 885px;
    text-align: center;
    border: 1px solid black;
    margin-left: 50px;
    padding-top: 75px;
}
.logo img:hover {
    transition: 1s;
    transform: scale(1.2);
}

/*Текст под картинкой*/

.main-text {
    font-size: 18px;
    line-height: 24px;
    margin: 35px 0 35px 50px;
}

/*Нижняя часть навигоционный бар*/

.footer-menu {
    display: flex;
    margin-top: 20px;
    margin-bottom: 30px;
    height: 72px;
    background: #b4b7b9;
}
.footer-nav {
    width: 928px;
    margin-left: 40px;
}
.footer-item {
    display: inline-block;
    padding: 20px 10px;
}
.footer-link {
    text-decoration: none;
    font-size: 28px;
    line-height: 28px;
    color: black;
}
.footer-nav li a:hover {
    border-bottom: 1px solid #4187a8;
    color: #4187a8;
}

/*Нижнее слово в футуре*/

.footer-right-text {
    font-size: 24px;
    line-height: 24px;
    padding-top: 23px;
    margin-left: 80px;
}
